# requires login
# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry#authenticating-with-a-personal-access-token
@siteimprove:registry=https://npm.pkg.github.com/siteimprove