<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />

    <title><%= title %></title>

    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/satellite-min.css"
    />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body>
    <header>
      <h1><%= title %></h1>
      <br />
      <div>
        <label for="input">Kjør UU-test på en nettside</label>
        <input type="textarea" id="input" />
        <button id="button">Test</button>
      </div>
    </header>

    <img
      src="https://media.giphy.com/media/tXL4FHPSnVJ0A/giphy.gif"
      id="loader"
    />

    <img
      src="https://media.giphy.com/media/TqiwHbFBaZ4ti/giphy.gif"
      id="error"
    />

    <div class="container">
      <div class="search-panel">
        <!-- <div class="search-panel__filters">
          <div id="brand-list"></div>
        </div> -->

        <div class="search-panel__results">
          <div id="searchbox"></div>
          <div id="hits"></div>
          <div id="pagination"></div>
        </div>
      </div>
    </div>

    <iframe id="report"></iframe>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.22.0/dist/algoliasearch.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.63.0/dist/instantsearch.production.min.js"></script>
  <script src="searchWidget.js"></script>
  <script>
    // test HTMX?
    var input = document.getElementById("input");
    var button = document.getElementById("button");

    button.addEventListener("click", function () {
      document.getElementById("error").style.display = "none";
      document.getElementById("loader").style.display = "block";
      document.getElementById("report").src = "";
      fetch("/run", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          url: input.value,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Success:", data);
          document.getElementById("error").style.display = "none";
          document.getElementById("loader").style.display = "none";
          document.getElementById(
            "report"
          ).src = `https://googlechrome.github.io/lighthouse/viewer/?jsonurl=${data.jsonUrl}`;
        })
        .catch((error) => {
          console.error("Error:", error);
          document.getElementById("loader").style.display = "none";
          document.getElementById("error").style.display = "block";
        });
    });
  </script>
</html>
