<!DOCTYPE html>
<html>
  <%- include('./partials/head.html') %>

  <body>
    <%- include('./partials/header.html') %>

    <main>
      <div class="ingress"><%= subtitle %></div>

      <div class="container">
        <div class="search-panel">
          <div class="search-panel__filters">
            <details>
              <summary>Utviklerfiltre</summary>
              <h2><div id="lighthouse-hasFailingAudits"></div></h2>
              <div id="lighthouse-failingAudits"></div>
              <br />

              <h2><div id="alfa-hasFailingAudits"></div></h2>
              <div id="alfa-failingAudits"></div>
              <br />

              <div id="sectionElementTags"></div>

              <div id="firstSectionElementTag"></div>

              <div id="mode"></div>

              <div id="parentDocumentTypes"></div>

              <div id="hostname"></div>

              <div id="timestamp"></div>
            </details>

            <br />

            <div class="ais-Panel-header"><span>Overskriftsnivå</span></div>
            <div id="hasAutoCorrections"></div>
            <div id="h3Exists"></div>
            <div id="isLabelFirstSectionAndMissingHeading"></div>
            <div id="expandSectionWithoutHeadingExists"></div>
            <br />

            <div class="ais-Panel-header"><span>Språkmarkering</span></div>
            <div id="language-isMissingLangAttributesInSection"></div>
            <div id="language-hasErrorSuggestions"></div>
            <br />

            <div id="learning-materials"></div>
            <div id="learning-components"></div>
            <div id="subjects"></div>
            <div id="grades"></div>

            <div class="ais-Panel-header"><span>Rusk</span></div>
            <div id="isMissingTitle"></div>
            <div id="hasIdenticalAriaLabels"></div>
            <div id="hasSpecialCharacters"></div>
            <div id="hasTextsFlaggedForUppercase"></div>
            <br />
          </div>

          <div class="search-panel__results">
            <div id="searchbox"></div>
            <div id="hits"></div>
            <div id="pagination"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    const ALGOLIA_APP_ID = "<%= ALGOLIA_APP_ID %>";
    const ALGOLIA_API_KEY_FRONTEND = "<%= ALGOLIA_API_KEY_FRONTEND %>";
    const ALGOLIA_INDEX_NAME = "<%= ALGOLIA_INDEX_NAME %>";
  </script>
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.22.0/dist/algoliasearch.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.63.0/dist/instantsearch.production.min.js"></script>
  <script type="module">
    import { search } from "./searchInit.js";
    search().start();
  </script>
</html>
