body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  margin: 1rem;
}

main {
  margin: 1rem;
}

.ingress {
  margin-bottom: 1rem;
}

#loader,
#error {
  display: none;
}

iframe {
  border: none;
  width: 100%;
  height: 75vh;
}

details {
  cursor: pointer;
}

/* Algolia */

.container {
  padding-top: 1rem;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(284deg, #fedd4e, #fcb43a);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: " ▸ ";
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.search-panel {
  display: flex;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.search-panel__filters {
  flex: 1;

  @media screen and (min-width: 768px) {
    max-width: 50%;
  }
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

.ais-Hits-item {
  padding: 1rem !important;

  p {
    margin: 0.5rem 0;
  }
}

.ais-Hits-item article {
  display: grid;
  grid-template-columns: 6rem auto;
  gap: 1rem;
  position: relative;
  width: 100%;
}
.ais-Hits-item article .hit-image {
  img {
    width: 100%;
  }
}
.ais-Hits-item article .hit-content {
  h3 {
    margin: 0;
    font-size: 1.2rem;
  }
}

#searchbox {
  margin-bottom: 4px;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

.redaptic-link {
  position: absolute;
  bottom: 0;
  right: 0;
}

.redaptic-svg {
  width: 1rem;
}

.red {
  color: #ac0b00;
}

.grey {
  color: #666;
}

.green {
  color: rgb(0, 187, 0);
}